
.about-left {
    width: 25%;
    float: left;
}


.about-right {
	text-align: justify;
    width: 70%;
    margin: 0px 0% 0px 5%;
    float: right;
}

.about-right div.title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.about-right div.subtitle{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}

.about-right div.why {
	text-align: center;
    font-size: 22px;
    font-style: italic;
    margin-top: 30px;
    letter-spacing: 2px;
    border-bottom: 3px solid #cbccce;
}

.about-right div.qwe	{
	font-size:18px;
	font-style:italic;
	margin-top:25px;
}

.about-right div.asd	{
	margin-bottom:10px;
}

.about-right div.asd ul	{
	margin-top:10px;
}

.about-right div.asd ul li	{
	line-height: 25px;
	font-size: 14px;
}

.about-right div.italic-text {
    font-size: 18px;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.about-right .video1,
.about-right .video2{
	width: 49%;
    height: 220px;
}


.partners-list {
	width:100%;
}

.partners-list ul {
	width:100%;
}

.partners-list ul li {
	list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
}

.partners-list ul li a {
	display:block;
	height:100px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}	