.catalog-section-left{
	width:30%;
	float:left;
	padding-top: 35px;
}

.catalog-section-right{
	width:70%;
	float:left;
	padding-top: 27px;
}

.catalog-element-left{
	width:30%;
	float:left;
	padding-top: 35px;
}

.catalog-element-right{
	width:70%;
	float:left;
	padding-top: 35px;
}

.course {
	width:100%;
	max-width: 600px;
	margin-bottom:5%;
}

.course .name {
	font-size: 20px;
	display: block;
	padding: 10px 0% 10px 0%;
	margin: 0% 0% 10px 0%;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	border-bottom: solid 1px black;
}



.preview_picture {
	text-align: center;
	margin-bottom: 15px;
}

.preview_text {
	text-align:justify;
}

.preview_picture img{
	width:100%;
}

.new {
	
}

.hitword {
	background: none repeat scroll 0% 0% #21A46E;
	text-align: center;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 3px 2px 6px #000;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}

.properties {
	margin-top: 10px;
	width: 50%;
	letter-spacing: 0px;
}

.properties .right-part {
	display: inline-block;
}

.properties .right-part2 {
	display: block;
	margin-left: 50%;
	padding-left: 0.4em;
}

.properties .code{
	display: inline-block;
	width: 50%;
	text-align: right;
	font-weight: bold;
}


.ruble { height: 12px; }
 
.price .value {
	font-weight: bold;
	color: rgb(175, 22, 35);
	font-size: 17px;
	display: inline;
}

.duration .value {	
	font-weight: bold;
	color: rgb(35, 47, 210);
	font-size: 18px;
	display: inline;
}

.duration .mnth {
	display: inline;
}

.discount-value	{
	margin: 0px;
	padding: 1px;
	padding-left: 5px;
	background: rgb(33, 164, 110);
	color: rgb(255, 255, 255);
	font-weight: normal;
	box-shadow: 1px 1px 2px #000000;
	//text-shadow: 0px 0px 1px black;
}

.course a:hover.button {
	background-color: rgba(12, 9, 33, 0.46);
}
.course a.button {
	background-color: rgb(0, 0, 0);
	border-radius: 0px;
	color: white;
	text-decoration: none;
	text-align: center;
	width: 115px;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	font-family: sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	display: block;
	float: right;
	position: relative;
	margin: -24px 0% 0% 0%;
}



/*################################################*/
/*################################################*/
/*################### ELEMENT ####################*/
/*################################################*/
/*################################################*/

.program_description .title {
	font-size: 30px;
	border-bottom: solid 1px black;
	padding-bottom: 5px;
}

.program_description .section .title {
	border-bottom: solid 2px rgb(0, 0, 0);
	margin: 40px 0px 20px 0px;
	text-transform: uppercase;
	font-size: 16px;
}

.teacher {
	width: 100%;
	margin: 3% 0px 5% 0px;
	clear: both;
	min-height: 150px;
	display: table;
	max-width:600px;
}

.teacher .photo {
	width: 130px;
	height: 130px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	float:left;
	display: table-cell;
	vertical-align: middle
}

.teacher .description{
	padding: 0px 0px 5% 5%;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.teacher .description .name {
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
	display:block;
}


/*################################################*/
/*################################################*/
/*############## catalog-sections-list ###########*/
/*################################################*/
/*################################################*/
div.catalog-sections-list-top {
	margin: 5% 5% 5% 5%;
}

div.catalog-sections-list-top div.title {
	margin: 0px 0px 10px 0px;
	font-size: 20px;
	letter-spacing: 2px;
}

div.catalog-sections-list-top div.description{
	margin: 0px 0px 0px 0px;
	max-width: 800px;
}

div.catalog-sections-list-bottom {
	border-top: solid 1px #00091d;
} 


.sections-table {
	display: table;
	vertical-align: top;
	width: 90%;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 5% 5% 5% 5%;
	border-spacing: 20px;
}

.sections-table .row {
	display: table-row;
}

.sections-table .cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 33%;
	background-color: #00091d;
	height: 50px;
}

.sections-table .section {
	padding: 10%;
	background-color: #00091d;
	position:relative;
	cursor:pointer;
}

.sections-table .section a{
	color:white;
	font-size: 12px;
}

.sections-table .sub_tree  {
	padding: 5% 5% 5% 10%;
	background-color: #2b4377;
	margin: 5% -7% 0% 7%;
	list-style-type: none;
	z-index: 5;
	position: absolute;
	/*display: none;*/
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.8s, visibility 0s linear 0.8s;
}


.sections-table  .section:hover > .sub_tree {
	display: block;
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.sections-table .sub_tree:before{
	position: absolute;
	display: block;
	top: -10px;
	left: 0px;
	width: 100%;
	height: 10px;
	content: "";
}

.sections-table .sub_tree li {
	float: none;
	color: white;
	padding: 10px 15px 15px 0px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position:relative;
}

.sections-table .sub_tree li a{
	color: white;
	position: relative;
	font-size: 11px;
}

