.wrapper{
    max-width: 1200px;
    font-family: serif;
    color: black;
    margin: auto;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.wrapper a {
	color:black;
	text-decoration:none;
	cursor:pointer;
}
.wrapper a:hover {
	text-decoration:underline;
}

#header{
	border-bottom: 1px solid black;
	padding-bottom:25px;
	margin-top: 30px;
	overflow:auto;
}

#logo{
	float:left;
}

#recall{
	width: 140px;
    height: 80px;
    float: right;
	margin-right:40px;
}

#top_contacts{
	float:right;
	max-width:250px;
	text-align:left;
	margin-right:30px;
}

#search{
    max-width: 400px;
    height: 25px;
    margin-top: 0px;
    margin-left: 30px;
    float: left;
}

#searchbutton{
    height: 23px;
    border: none;
    width: 23px;
    display: block;
    background: no-repeat url("/images/search-transparent.png");
    cursor: pointer;
    background-size: cover;
	position:absolute;
}

#searchform{
	display: none;
	width:23px;
	position:absolute;
}

#searchform input{
	border: none;
    background: #e8e8e8;
	padding:5px;
}

/*###########################################*/
/* MENU */

#menu {
	margin-bottom: 2em;
    margin-top: 2em;
	border-bottom: solid 1px black;
	padding-bottom:12px;
}

#menu ul {
    display: table;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
	padding:0px;
}

#menu li {
    list-style-type: none;
    position: relative;
    float: left;
    margin-left: 20px;
    max-width: 220px;
    text-align: center;
}

#menu li.first
{
	list-style-type:none;
	margin-left:0px
}

#menu a:hover {
	text-decoration:none;
}

#menu a:before {
	position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 1px;
    margin-left: 0;
    background-color: #272B2F;
    content: "";
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

#menu ul li a:hover:before {
	width: 100%;
	margin-left: -50%;
}

#menu ul ul{
	z-index: 999;
	position: absolute;
	width: 180px;
	padding: 15px 20px;
	background-color: #00091d;
	font-size: 9px;
	margin-top:10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 0s linear 1s;
}

#menu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

#menu ul ul:before{
	position: absolute;
	display: block;
	top: -12px;
    left: 0px;
	width: 100%;
	height: 12px;
	content: "";
}

#menu ul ul li {
	float: none;
	color:white;
	padding: 10px 0px 5px 0px;
	text-align:left;
}

#menu ul ul a {
	color: white;
	position:relative;
}

#menu ul ul a:before {
    background-color: white;
}

#menu ul ul:hover {
	display:block;
}
#menu ul ul li {
	cursor:pointer;
}
	
#menu ul ul li:hover > a:before {
	width: 100%;
	margin-left: -50%;
}


#menu .pusher {
    width: 6px;
    height: 6px;
    background-color: #00091d;
    border-radius: 50%;
    top: 0.3em;
    position: relative;
}

#main-slider{
	
}

#content{
	
}



/*################################################*/
/*################################################*/
/*################### LEFT MENU ##################*/
/*################################################*/
/*################################################*/

#tree {
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0px 7% 0px 0px;
	list-style-type: none;
	padding: 0px;
}
#tree li{
	margin: 8px 0px 8px 0px;
	font-size: 12px;
}

#tree .sub_tree  {
padding: 5% 1% 5% 10%;
	background-color: #00091d;
	margin-top: 0px;
	margin: 1% 0% 0% 7%;
	list-style-type: disc;
	display: none;
}

#tree .active .sub_tree  {
	display:block;
}

#tree li.current .section-name {
	
}

#tree li.current .section-name a {
	color: white;
	padding-right: 10%;
	padding-left: 5%;
	position: relative;
	left: -5%;
	background-color: #00091d;
}

#tree .sub_tree li {
	float: none;
	color: white;
	padding: 10px 15px 15px 0px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position:relative;
	font-size: 10px;
}

#tree .sub_tree li a {
	color: white;
	/*position: relative;*/
}

#tree .sub_tree a:hover {
	text-decoration:none;
}

#tree .sub_tree a:hover:before{
	width: 90%;
	margin-left: -50%;
}

#tree .sub_tree a:before{
	position: absolute;
	bottom: 10px;
	left: 50%;
	width: 0;
	height: 1px;
	margin-left: 0;
	background-color: #ffffff;
	content: "";
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}



/* ################################################# */
/* FOOTER */

#footer{
	border-top: 1px solid black;
	padding-top: 25px;
	font-size: 18px;
	clear:both;
}

.map-columns {
	float:left;
}

.map-columns td{
	vertical-align: top;
}

ul.map-level-0 {
	margin-top: 0px;
}
ul.map-level-0 li{
	list-style:none;
}
ul.map-level-0 a {
	font-weight: bold;
	font-size: 0.8em;
}

ul.map-level-1 a, ul.map-level-2 a, ul.map-level-3 a {
	font-weight: normal;
}

.map-columns{
	vertical-align: top;
	list-style:none;
}

#bot_contacts{
	float:right;
	margin-right: 30px;
	font-size: 0.8em;
}

#bot_map {
	float:left;
}

/* ##################################################### */
/* CONENT */
.block {
    margin-bottom: 1%;
    padding-top: 4%;
    border-top: 1px solid #00091d;
}

.block-title {
	font-size:20px;
	text-align:left;
	margin-bottom:10px;
	letter-spacing: 4px;
}

.info {
	width:100%;
}

.info-left {
	width:70%;
	float:left;
}

.info-right {
	width:30%;
	float:right;
}

.main-gallery {
	width:100%;
}

.partners {
	width:100%;
}

.pop-curses ul {
	padding-left: 20px;
    margin-left: 10%;
	line-height: 25px;
}

#carousel_gallery {
	height:150px;
}

#carousel_partners {
	height:150px;
}

.left_partners_gallery,
.left_arr_carousel_gallery {
    background-color: #00091d;
	z-index: 2;
    width: 24px;
    height: 100%;
    margin: 0px 0px 0 0px;
    cursor: pointer;
    position: absolute;
    padding: 0px;
    font-weight: bold;
    top: 0px;
    left: 0%;
}

.right_partners_gallery,
.right_arr_carousel_gallery {
	background-color: #00091d;
	z-index: 2;
    width: 24px;
    height: 100%;
    margin: 0px 0px 0 0px;
    cursor: pointer;
    position: absolute;
    padding: 0px;
    font-weight: bold;
    top: 0px;
    right: 0%;
}

.right_arr, .left_arr {
	background-color: rgba(0, 0, 0, 0.0);
    padding-top: 4px;
    margin-top: -20px;
    color: rgb(255, 255, 255);
    font-size: 29px;
    height: 36px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 50%;
}


/*######################################################*/
/*######################################################*/
/*################ TRAINING DIRECTORY ##################*/
/*######################################################*/
/*######################################################*/

div.news-item {
	margin: 0px 0px 5% 0px;
}

div.news-item .description {
	padding: 0px 0px 0px 1%;
}

div.news-item div.news-title{
    font-size: 1.2em;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #00091d;
    padding: 0px 0px 3px 1%;
}

div.news-item div.news-title2{
    font-size: 1.2em;
	font-weight:bold;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #00091d;
    padding: 0px 0px 3px 1%;
}


div.news-item div.name a{
	
}

div.news-item div.preview-text {
	margin: 0px 0px 0px 30px;
	text-align: justify;
    max-width: 700px;
}

div.news-item div.properties{
	width:100%;
	display:table;
}


div.properties .prop-right {
	display: table-cell;
	width:50%;
}

div.properties .prop-left {
	display: table-cell;
	width:50%;
}

div.news-item div.properties .prop_name{
		font-weight:bold;
}

div.news-item .price .value,
div.news-item .place .value,
div.news-item .date .value,
div.news-item .lector .value{
	padding-left:3%;
}

div.news-item .lector a{
	font-weight:bold;
	color:#1b84a5;
}



	