div.advantages {
	display:table;
}

div.advantages div.row1 {
	display:table-row;
}

div.advantages div.row2 {
	display:table-row;
}

div.advantages div.cell {
	display:table-cell;
	height: 100px;
}

div.advantages .row1 .cell div{
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

div.advantages .row2 .cell div{
	margin: 25px 10px 10px 10px;
    text-align: center;
    letter-spacing: 3px;
}

div.dyrections {
	display:table;
	text-align:center;
}

div.dyrections div.row{
	display:table-row;
}

div.dyrections div.cell{
    display: table-cell;
    padding: 10px;
}

div.dyrections  div.title{
	text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0px 0px 14px 0px;
    height: 35px;
}

div.dyrections  div.description{
	
}