html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
.reveal-modal {
	z-index: 2000002020!important;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
body {
	font: 15px/20px Arial, Helvetica, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
    background:#274993 url(/images/bg-N3.jpg) top center  no-repeat;

}
a {
	color: blue;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {     font-size:15px; line-height:20px;
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wr {width: 100%;
	height: 100%;}
#wr1 {width: 100%;
	height: 100%;}
#wrapper {
	width: 1011px;
	margin: 0 auto;
	height: auto !important;
  height: 100%;
	
}
* html #wrapper { /* хак для ie6 */
	height: 100%; /* для ие6, т.к. не понимает min-height */
}
/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 180px;
}


/* Middle
-----------------------------------------------------------------------------*/
#content {
	position:relative;
	clear:both;
	width:1011px;
	background: #e9f4fc;
	border:1px solid #aac3d8;
	border-radius:10px;
	margin-top:60px;
	/*margin-bottom:90px;*/
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.25); /* Для Firefox */
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25); /* Для Safari и Chrome */
	box-shadow: 0 0 5px rgba(0,0,0,0.25); /* Параметры тени */
        behavior: url(/css/PIE.htc);
	
}
#content1 {
	padding: 0 0 100px;
	margin-top:30px;
	position:relative;
	clear:both;
	width:1011px;
	background: none;
	
}


div#centr {
	height:100%;
	width:1011px;
	font-family:Georgia, Arial, Verdana, Geneva, sans-serif;
	color:#2e3d4c;
	font-size:15px;
	overflow:hidden;
	/*font-weight:500;*/
}
/* Footer
-----------------------------------------------------------------------------*/
ul.map-level-0 {margin-top:0px; margin-left:15px;}

#footer {
	width:1011px;
	margin: 0px auto 0;
	height: 100px;
	position: relative; margin-top: -100px; background:none; clear:both;
}

#logo {
	height:87px;
	width:445px;
	position:relative;
	top:40px;
	margin-left:0px;
	float:left;
}

#logo a {
	display:block;
	width:106px;
	height:87px;
	float:left;
}

div#search {
	float:right;
	width:210px;
	height:70px;
	margin-right:0px;
	position:relative;
	top:35px;	
}




a.vk {display:inline-block; width:27px; height:28px; background:url(/images/VK.png) left top no-repeat;}
a.vk:hover {background:url(/images/VK.png) left bottom no-repeat;}
a.odn {display:inline-block; width:27px; height:28px; background:url(/images/Odnoklassniki.png) left top no-repeat;}
a.odn:hover {background:url(/images/Odnoklassniki.png) left bottom no-repeat;}
a.fb {display:inline-block; width:27px; height:28px; background:url(/images/FB.png) left top no-repeat;}
a.fb:hover {background:url(/images/FB.png) left bottom no-repeat;}


div#footer span a {
	/*color:#a7bedb;*/
        color:#93a4c9;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

#clear {
	clear:both;
	
}

h2 {
	margin-top:20px;
	font-size:23px;
	color:#2e3d4c;
	line-height:24px;
	font-weight:600;
}

ul {
	margin-top:20px;
	margin-left:-15px;	
}

ul li {
	line-height:30px;
	font-size:14px;
	color:#0055bb;
	padding-left:15px;
}

ul li a {
	font-size:14px;
	color:#0055bb;
	/*font-weight:bold;*/
}

ul li#active {
	background:url(../img/active_menu.png) 0px 3px no-repeat;	
}

ul li#active a {
	color:#FFF;
	text-decoration:none;	
}

h1 {
	font-size:43px;
	color:#0675db;

	font-weight:600;
}

/*menu*/
.shadow {background:url('/images/shadow.png') center top no-repeat; width:1011px; ; height:20px; 
float:left; position:relative; top:-10px; z-index:1;}
.shadow1 {background:url('/images/inner-menu-shadow.jpg') center top no-repeat; width:1011px;; height:20px; float:left; position:relative; top:-10px; z-index:1;}
#first-menu {
    background: url('/images/menu-blue-bg.png') left top repeat;
    color:#fff;
    font-size:13px;
    float: left;
    position: relative;
	margin-top:-25px;
	width:1011px;
	border-radius:5px;
	text-align:center;
	z-index:2;
behavior: url(/css/PIE.htc);
}	
#first-menu ul {margin:0;}
#first-menu .content li {
    display: inline-block;
    float: left;
    font-size: 13px;
    color: #2e3d4c;
    text-transform: uppercase;
    height: 52px;
    margin-right: 0px;
    padding-left:0; 
    text-align:center; 

}
#first-menu .content li#first {margin-left:0px;}
#first-menu .content li:before {content: url(/images/menu-devider.png) top right no-repeat; float:left;height: 31px;} 
#first-menu .content li#last:after {content: url(/images/menu-devider.png) top left no-repeat;float:left; height: 31px;}
#first-menu .content li a {
    padding: 12px 10px 9px 10px;
    float: left;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size:15px; text-align:center;font-weight: bold;
}
#first-menu .content li a:hover, #first-menu .content li.current a {
	color: #2e3d4c;
	background:url(/images/menu-over-white.png); height:31px; 


}
.subsc_this {display:block; background:url(/images/sign-this-course-button.png) top left no-repeat; width:200px; height:26px;}
.subsc_this:hover {background:url(/images/sign-this-course-button.png) bottom left no-repeat;}






/*index*/
/*index*/
.bigtext {font-size:44px; text-align:left; line-height:44px; color:#283a53;}
.author {font-size:22px; text-align:right; margin-right:10px; color:#374e6d; display:block;}
.basic_text {font-size:18px; text-align:left; color:#4b6990;display:block; margin:15px 0 0 0;}
.sl_border {margin:-80px 0 0 45px;}

.info_part {width:1011px; float: left;
min-height: 350px;}


.bottom-divider {border:none;border-bottom:1px solid #5d87c3; height:1px; margin: -10px 0 30px 0;}
.bottom-block-header {background:url(/images/bottom-HD.png) top left no-repeat; height:10px;}
.bottom_block_footer {background:url(/images/bottom-FT.png) top left no-repeat; height:10px; clear:both;}

.info_part .news_part {float:left; width: 354px; height:296px;  margin-top:0px; margin-left:-10px; border-right: 1px solid #4369AC;}
.info_part1 .news_part1 {float:left; width: 505px;  margin-top:10px; margin-left:0px;}
.news-wr1 {margin: 20px 0 0 10px;}
.news_part1 .date {display:block; float: left; margin-right: 20px; width: 70px; height: 70px;}
.news_part1 .news_one {margin:0px 10px 0 0px; float: left;}
.news_part1  a {color: #E5E9EB;font-size: 24px;line-height: 28px;margin-top: 5px;display: block;float: left;width: 375px;}
.news-wr1 {margin: 00px 0 0px 20px;}
.bottom-text {font-size: 15px;
line-height: 21px;
color: #E5E9EB;
margin: 20px 15px 0px 30px;}
a.bottom-text-more {display:block; background: url(/images/more-button.png) top left no-repeat; width:122px; height:26px; margin:30px 0 0 30px;}
a.bottom-text-more:hover {background: url(/images/more-button.png) bottom left no-repeat;}

.date_actions {color:#46a6f4; font-size:10px; line-height:20px; display:block; font-weight:bold; text-transform:uppercase; text-align:center; background:url(/images/date-bg.png) left 5px no-repeat; letter-spacing:0.1em;width: 310px;padding-left:10px;}

.news_part .news_zag  {color:#ffffff; font-size:18px; text-transform:uppercase; margin:-18px 0 0 90px;}
.news-wr {margin: 20px 0 0 10px;width: 315px;}
.news_part .date {color:#46a6f4; font-size:10px; line-height:20px; display:block; font-weight:bold; text-transform:uppercase; text-align:center; background:url(/images/date-bg.png) left 5px no-repeat; letter-spacing:0.1em;width: 310px;padding-left:10px;}
.news_part .news_one {margin:0px 10px 0 0px;width: 315px;}
.news_part  a {color:#e5e9eb; font-size:18px; line-height:21px;}
.news_part .date1 {color:#b2dbf9; font-size:11px; line-height:14px; display:block;margin:5px 0 0 20px; font-style:italic;}
.info_part .gonews {display:block; width:121px; height:26px; background:url(/images/allnews.png) left top no-repeat; margin:-26px 0 0 0px; position:relative; top:100%; left:0%;}
.info_part .gonews:hover {width:121px; height:26px; background:url(/images/allnews.png) left bottom no-repeat;}

.info_part .raspisanie {float:left; width: 336px; height:296px; margin-top:0px; margin-left:-15px;   border-right: 1px solid #4369AC;}
.raspisanie .naprav_header {color:#ffffff; font-size:18px; text-transform:uppercase; margin:0px 0 0 65px;}
.raspisanie ul {margin:0; margin:15px 0 0 40px;}
.raspisanie ul li {background: url(/images/arrow1.png) left 10px no-repeat; padding:0px 0 5px 30px;}
.raspisanie ul li a {text-decoration:none; font-size:16px; line-height:20px; font-weight:500; color:#e5e9eb; text-transform:uppercase;}
.raspisanie ul li a:hover {text-decoration:underline;} 
.info_part .allcurses {background:url(/images/alldirections.png) top left no-repeat; display:block; width:121px; height:26px;  margin:-26px 0 0 0px; position:relative; top:100%; left:37%;}
.info_part .allcurses:hover {background:url(/images/alldirections.png) bottom left no-repeat;}

.naprav {float:left; width: 343px; height:296px;}
.naprav .naprav_header {color:#ffffff; font-size:18px; text-transform:uppercase; margin:-47px 0 0 120px; }

.naprav .recall-wr {margin:0px 5px 0 0px;}
.recall-index {margin:20px 0 0 20px;}
.naprav .who {color:#b2dbf9; font-size:11px; line-height:14px; display:block;margin:40px 0 0 0px; font-style:italic;}
.naprav .news_one {margin:0px 10px 0 0px; }
.naprav .news_one a {color:#e5e9eb; font-size:15px; line-height:20px;}
.info_part .goreviews {display:block; width:121px; height:26px; background:url(/images/allactions.png) left top no-repeat; margin:-26px 0 0 0px; position:relative; top:100%; left:68%;}
.info_part .goreviews:hover {background:url(/images/allactions.png) left bottom no-repeat;}

/*#da-slider {
    width: 100%;
	min-width: 520px;
	height: 250px;
	position: relative;
	
	overflow: hidden;
	}
#da-slider div{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: left;
}	

div#da-slider div .da-link{
	position:relative;
	padding: 2px 20px 0px;
	text-align: center;
	background: url(/images/more-button.png) top left no-repeat;
	width:122px; 
	height:24px; 
	display:block;
	top:-50px;
	left:70px;
}
div#da-slider div .da-link:hover{
	background: url(/images/more-button.png) bottom left no-repeat;}
.bx-prev {
	position:relative;
	top:-140px;
	left: 5px;
	width:26px;
	height:48px;z-index:1000;}	
.bx-next {
	position:relative;
	top:-140px;
	right: -956px;
	width:26px;
	height:48px;z-index:1000;}
*/	
#errors p {
    color: red;
}
#feedback-form input[type='text'], #feedback-form textarea {width:700px; height:25px; padding-left:10px; border:none; border-top:1px solid #c1c1c1; margin-bottom:10px;}
#feedback-form input[type='text'], #feedback-form textarea {
	width: 687px; font-size:15px; line-height:20px;font-family: arial;
}
#feedback-form textarea {
	resize: none;
	height: 140px;font-size:15px; line-height:20px;font-family: arial;
}