/*partners slider on main page*/
.partners li:hover {
/*background-color:rgba(255, 255, 255, 0.7);*/
}
.partners .left_arr, 
.partners .right_arr {
    padding-top: 62px;
    padding-left: 2px;
    color: rgba(255, 255, 255, 0.59);
    font-size: 34px;
    font-weight: bold;
	background-color:rgba(255, 255, 255, 0.2);
}

/* from Slider -----------------------------------------------------------------------------*/
#lerning-directions {
				float: left;
				width: 100%;
}
.col-1,
.col-2 {
				float: left;
				width: 49.5%;
}
.col-2 {
				margin-left: 1%;
}
#lerning-directions .item {
				float: left;
				width: 100%;
}
#feedback-form .parsley-error-list,
#feedback-form .parsley-error-list li {
				margin: 0;
				color: red;
				float: left;
				width: 100%;
				font-family: 'Arial';
				clear: both;
				padding: 0;
}
#errors p {
				font-family: 'Arial';
}
#feedback-form .parsley-error-list {
				margin-bottom: 10px;
				margin-top: -5px;
}
#lerning-directions .item ul {
				display: none;
				float: left;
				margin-top: 0;
				margin-left: 20px;
				margin-bottom: 20px;
}
#lerning-directions .item ul li {
				padding-left: 25px;
				padding-bottom: 3px;
				background: url("/images/arrow.png") 0 7px no-repeat;
}
#centr_clear #centr {
				float: left;
				margin-top: 0;
}
#lerning-directions .item ul li a {
				color: #000;
				font-weight: 200;
}
#lerning-directions .item ul li a:hover {
				color: #3a67d1;
				text-decoration: underline;
}
#lerning-directions .item a.title {
				float: left;
				font-weight: bold;
				text-shadow: 0 0 5px rgba(0,0,0,.5);
				text-decoration: none;
				color: #fff;
				background: url("../images/bg-2.png") repeat-x;
				-webkit-box-shadow: inset 0 0 7px #8fe1ff;
				-moz-box-shadow: inset 0 0 7px #8fe1ff;
				box-shadow: inset 0 0 7px #8fe1ff;
				border: solid 1px #027dd1;
				height: 62px;
				cursor: pointer;
				padding-left: 5%;
				font-size: 25px;
				width: 95%;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				margin-bottom: 8px;
				line-height: 62px;
}
#lerning-directions .item.open a.title,
#lerning-directions .item.pre-open a.title {
				color: #454545;
				border: 0;
				text-shadow: 0 0 0 #fff;
				text-align: left;
				padding-left: 5%;
				width: 95%;
				box-shadow: 0 0 0 #fff;
				background: #fff;
}
#lerning-directions .item.open,
#lerning-directions .item.pre-open {
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background: #fff;
				margin-bottom: -5px;
				margin-bottom: 8px;
				-webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
				-moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
				box-shadow: 0 0 5px rgba(0,0,0,.5);
}
#lerning-directions .item.open ul {
				display: block;
}
#lerning-directions .item a.title:hover {
				background-position: bottom left;
}
shtml,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
				margin: 0;
				padding: 0;
				border: 0;
				outline: 0;
				font-size: 100%;
				vertical-align: baseline;
				background: transparent;
}
ol,
ul {
				list-style: none;
}
blockquote,
q {
				quotes: none;
}
:focus {
				outline: 0;
}
ins {
				text-decoration: none;
}
del {
				text-decoration: line-through;
}
table {
				border-collapse: collapse;
				border-spacing: 0;
}
html {
				height: 100%;
}
body {
				font: 17px/20px Georgia, Helvetica, Arial, Tahoma, Verdana, sans-serif;
				width: 100%;
				height: 100%;
				/*background-color:#4470ad;*/
				background: #264893 url("/images/bg-N3.jpg") top center no-repeat;
}
a {
				color: blue;
				outline: none;
				text-decoration: underline;
}
a:hover {
				text-decoration: none;
}
p {
				line-height: 20px;
				margin: 0 0 18px;
}
img {
				border: none;
}
input {
				vertical-align: middle;
}
#wr {
				width: 100%;
				height: 100%;
				/*background:#4470ad url(/images/bg-N2.jpg) top center no-repeat;*/
}
#wr1 {
				width: 100%;
				height: 100%;
				/*background:url(/images/bg-N-in.jpg) top center no-repeat;*/
}
#wrapper {
				width: 1011px;
				margin: 0 auto;
				height: auto !important;
				height: 100%;
}
* html #wrapper {
				/* хак для ie6 */
				height: 100%;
				/* для ие6, т.к. не понимает min-height */
}
/* Header -----------------------------------------------------------------------------*/
#header {
				height: 180px;
}
/* Middle -----------------------------------------------------------------------------*/
#content {
				position: relative;
				clear: both;
				width: 1011px;
				background: #FBFBFB;
				border: 1px solid #aac3d8;
				border-radius: 10px;
				margin-top: 60px;
				/*margin-bottom:90px;*/
				-moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
				/* Для Firefox */
				-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
				/* Для Safari и Chrome */
				box-shadow: 0 0 5px rgba(0,0,0,0.25);
				/* Параметры тени */
				behavior: url("/css/PIE.htc");
}
#content1 {
				padding: 0 0 20px;
				margin-top: 30px;
				position: relative;
				clear: both;
				width: 1011px;
				background: none;
}
div#centr {
				height: 100%;
				width: 1011px;
				font-family: Arial, Verdana, Geneva, sans-serif;
				color: #2e3d4c;
				font-size: 17px;
				overflow: visible;
				font-weight: 500;
				margin-bottom: 40px;
				margin-top: 40px;
				background: url("/images/progr_devide.gif") repeat-y;
}
div#centr_prog {
				height: 100%;
				width: 1011px;
				font-family: Arial, Verdana, Geneva, sans-serif;
				color: #2e3d4c;
				overflow: visible;
				font-weight: 500;
				margin-bottom: 40px;
				margin-top: 40px;
				background: url("/images/progr_devide.gif") repeat-y;
}
div#centr_clear {
				height: 100%;
				width: 1011px;
				font-family: Arial, Verdana, Geneva, sans-serif;
				color: #2e3d4c;
				overflow: visible;
				font-weight: 500;
				margin-bottom: 40px;
				margin-top: 40px;
}
div#centr_clear1 {
				height: 100%;
				width: 1011px;
				font-family: Arial, Verdana, Geneva, sans-serif;
				color: #2e3d4c;
				overflow: visible;
				font-weight: 500;
				margin-bottom: 40px;
				margin-top: 40px;
				background: url("/images/news_devide.gif") repeat-y;
}
/* Footer -----------------------------------------------------------------------------*/
ul.map-level-0 {
				margin-top: 0;
				margin-left: 15px;
}
#footer {
				width: 1011px;
				margin: 0 auto;
				height: 100px;
				position: relative;
				margin-top: 0px;
				background: none;
				clear: both;
}
#logo {
				height: 87px;
				width: 410px;
				position: relative;
				top: 40px;
				margin-left: 0;
				float: left;
				z-index:3;
}
#logo a {
				display: block;
				width: 106px;
				height: 87px;
				float: left;
}
div#search {
				float: right;
				width: 210px;
				height: 70px;
				margin-right: 0;
				position: relative;
				top: 35px;
}
div#main_divider {
				float: right;
				width: 25px;
				height: 86px;
				margin-right: 0px;
				margin-left: 0px;
				position: relative;
				top: 40px;
}
div#search span {
				color: #4066ae;
				font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
				font-size: 11px;
				text-transform: uppercase;
				line-height: 13px;
}
div#search span#phone {
				width: 220px;
				display: block;
				font-size: 21px;
				background: url("/images/new_phone.png") 0 -5px no-repeat;
				padding-left: 25px;
				height: 28px;
				margin-top: 10px;
				color: #293f80;
				font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}
div#cabinet input[type='submit'] {
				display: none;
				cursor: pointer;
}
div#cabinet input[type='text'] {
				width: 200px;
				height: 26px;
				margin-left: 10px;
				background: url("/images/search-bg-new.png") no-repeat;
				border: none;
				margin-top: 21px;
				color: #88959f;
				padding-left: 10px;
				font-style: italic;
}
div#cabinet .sbtn {
				float: left;
				width: 18px;
				height: 18px;
				margin-top: -22px;
				margin-left: 168px;
				position: relative;
				z-index: 1;
				display: none\0/;
}
div#cabinet {
				width: 200px;
				height: 80px;
				float: right;
				position: relative;
				top: 35px;
				margin-right: 50px;
}

#searchbutton
{
	position:absolute;
	height: 23px;
    border: none;
    width: 23px;
    display: block;
    background: no-repeat url("/images/search-transparent.png");
    cursor: pointer;
    background-size: cover;
}

#searchbutton:hover
{
	background-color: #E6F1F8;
}
#searchform
{
	display:none;
	width:23px;
	position:absolute;
}

#searchform input
{
	width: 100%;
    border: none;
    background-color: #E6F1F8;
    padding-top: 5px;
    padding-bottom: 3px;
}
#search2
{
    float: left;
    width: 150px;
    height: 80px;
    margin-right: 0px;
    position: relative;
    margin-top: 45px;
}

a.vk {
				display: inline-block;
				width: 27px;
				height: 28px;
				background: url("/images/VK.png") left top no-repeat;
}
a.vk:hover {
				background: url("/images/VK.png") left bottom no-repeat;
}
a.odn {
				display: inline-block;
				width: 27px;
				height: 28px;
				background: url("/images/Odnoklassniki.png") left top no-repeat;
}
a.odn:hover {
				background: url("/images/Odnoklassniki.png") left bottom no-repeat;
}
a.fb {
				display: inline-block;
				width: 27px;
				height: 28px;
				background: url("/images/FB.png") left top no-repeat;
}
a.fb:hover {
				background: url("/images/FB.png") left bottom no-repeat;
}
div#cabinet span {
				display: inline-block;
				background: url("/images/person.png") 0 4px no-repeat;
				width: 100%;
				height: 25px;
				padding-left: 25px;
}
div#cabinet span a {
				color: #416d98;
				text-transform: uppercase;
				text-decoration: underline;
				font-size: 11px;
				line-height: 23px;
}
div#cabinet span a:hover {
				text-decoration: none;
}
a#subscribetop {
				display: block;
				background: linear-gradient(to top, rgba(82, 127, 200, 1), rgba(30, 95, 203, 1), rgba(22, 87, 195, 1), rgba(36, 99, 203, 1),rgba(55, 119, 224, 1));
				border-radius: 4px;
				color: white;
				text-decoration: none;
				text-align: center;
				font-size: 12px;
				padding-top: 8px;
				border: none;
				width: 199px;
				height: 18px;
				line-height: 11px;
				margin-top: 35px;
				cursor: pointer;
				font-family: Arial,Verdana,Geneva,sans-serif;
}
#feedback {
				display: block;
				background: linear-gradient(to top, rgba(82, 127, 200, 1), rgba(30, 95, 203, 1), rgba(22, 87, 195, 1), rgba(36, 99, 203, 1),rgba(55, 119, 224, 1));
				border-radius: 4px;
				color: white;
				text-decoration: none;
				text-align: center;
				font-size: 12px;
				padding-top: 8px;
				border: none;
				width: 179px;
				height: 18px;
				line-height: 11px;
				margin-top: 35px;
				cursor: pointer;
				font-family: Arial,Verdana,Geneva,sans-serif;
}
a#subscribetop:hover {
				background: linear-gradient(to top, rgba(129, 197, 232, 1), rgba(75, 171, 229, 1), rgba(66, 169, 244, 1), rgba(105, 180, 255, 1),rgba(143, 209, 249, 1));
}
#feedback:hover {
				background: linear-gradient(to top, rgba(129, 197, 232, 1), rgba(75, 171, 229, 1), rgba(66, 169, 244, 1), rgba(105, 180, 255, 1),rgba(143, 209, 249, 1));
}
#feedback {
				float: left;
}
a#subscribe {
				display: block;
				background: url("/images/online-entrance2.png") center top no-repeat;
				border: none;
				width: 200px;
				height: 26px;
				line-height: 11px;
				margin-top: 35px;
				cursor: pointer;
}
a#subscribe:hover {
				background: url("/images/online-entrance2.png") center bottom no-repeat;
}
a#curriculum {
				display: block;
				background: url("/images/get-course-curriculum-button.png") center top no-repeat;
				border: none;
				width: 200px;
				height: 26px;
				line-height: 11px;
				margin-top: 35px;
				cursor: pointer;
}
a#curriculum:hover {
				background: url("/images/get-course-curriculum-button.png") center bottom no-repeat;
}
a#vertical_write_us {
				display: block;
				background: url("/images/vertical-write-us-button.png") left center no-repeat;
				position: fixed;
				top: 50%;
				right: 0;
				border: none;
				width: 25px;
				height: 178px;
				cursor: pointer;
}
a#vertical_write_us:hover {
				background: url("/images/vertical-write-us-button.png") right center no-repeat;
}
div#footer span {
				/*color:#a7bedb;*/
				color: #93a4c9;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 12px;
				display: inline-block;
				margin-left: 0;
				margin-right: 30px;
				margin-top: 20px;
				float: left;
}
div#footer span a {
				/*color:#a7bedb;*/
				color: #93a4c9;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
}
#clear {
				clear: both;
}
h2 {
				font-size: 20px;
				color: #2e3d4c;
				line-height: 20px;
}
ul {
				margin-top: 20px;
				margin-left: -15px;
}
ul li {
				list-style: disc;
				line-height: 30px;
				font-size: 14px;
				color: #05b;
				padding-left: 15px;
}
ul li a {
				font-size: 14px;
				color: #05b;
				font-weight: bold;
}
ul li#active {
				background: url("../img/active_menu.png") 0 3px no-repeat;
}
ul li#active a {
				color: #fff;
				text-decoration: none;
}
h1 {
				font-size: 43px;
				color: #0675db;
				margin-top: 35px;
				margin-bottom: 40px;
				font-weight: 600;
}
/*menu*/
.shadow {
				background: url("/images/shadow.png") center top no-repeat;
				width: 1011px;
				height: 20px;
				float: left;
				position: relative;
				top: -10px;
				z-index: 1;
}
.shadow1 {
				/*background:url('/images/inner-menu-shadow.jpg') center top no-repeat; */
				width: 1011px;
				height: 20px;
				float: left;
				position: relative;
				top: -10px;
				z-index: 1;
}
#first-menu {
				background: url("/images/menu-blue-bg.png") left top repeat;
				color: #fff;
				font-size: 13px;
				float: left;
				position: relative;
				margin-top: -25px;
				width: 1011px;
				border-radius: 5px;
				text-align: center;
				z-index: 2;
				behavior: url("/css/PIE.htc");
}
#first-menu ul {
				margin: 0;
}
#first-menu .content li {
				display: inline-block;
				float: left;
				font-size: 13px;
				color: #2e3d4c;
				text-transform: uppercase;
				height: 52px;
				margin-right: 0;
				padding-left: 0;
				text-align: center;
}
.left.admin .left-menu li ul li a.curr {
				background: url("/images/current-bullit.png") 0 5px no-repeat;
}
.left.admin .left-menu li ul li a.curr {
				margin-left: -34px;
				padding-left: 35px;
				display: block;
				border-top: none;
}
#first-menu .content li#first {
				margin-left: 0;
}
#first-menu .content li:before {
				content: url("/images/menu-devider.png") top right no-repeat;
				float: left;
				height: 45px;
}
#first-menu .content li#last:after {
				content: url("/images/menu-devider.png") top left no-repeat;
				float: left;
				height: 45px;
}
#first-menu .content li a {
				padding: 12px 10px 9px;
				float: left;
				color: #fff;
				position: relative;
				text-decoration: none;
				font-size: 15px;
				text-align: center;
}
#first-menu .content li a:hover,
#first-menu .content li.current a {
				color: #2e3d4c;
				background: url("/images/menu-over-white.png");
				height: 31px;
}
.subsc_this {
				display: block;
				background: url("/images/sign-this-course-button.png") top left no-repeat;
				width: 200px;
				height: 26px;
}
.subsc_this:hover {
				background: url("/images/sign-this-course-button.png") bottom left no-repeat;
}
/*tree menu*/
.tree {
				margin-left: 0;
				margin-top: 0;
}
.tree li {
				width: 275px;
				margin-left: -20px;
}
.tree li a {
				line-height: 24px;
				font-size: 17px;
				color: #2e3d4c;
				border-bottom: 1px dotted #2e3d4c;
}
.tree li a:hover {
				color: #45addf;
				border-bottom: 1px dotted #45addf;
}
.tree li a.noitem {
				border-bottom: 1px solid #2e3d4c;
				text-decoration: none;
}
.tree li a.noitem:hover {
				border-bottom: 1px solid #45addf;
				text-decoration: none;
}
.tree li ul {
				margin: 12px 0;
				height: auto;
}
.tree ul li {
				width: 225px;
				display: inline-block;
				margin: 0;
				border-top: 1px solid #c4ced7;
				padding: 7px 0 7px 15px;
}
.tree li ul li a {
				width: auto;
				border-bottom: none;
				text-decoration: underline;
				color: #05b;
				font-size: 13px;
				line-height: 17px;
				display: inline-block;
				padding: 5px;
				font-weight: normal;
				font-family: Arial;
				margin-left: -20px;
}
.tree li ul li a .cufon-canvas {
				text-decoration: underline;
				border-bottom: 1px solid #05b;
}
.tree li ul li a:hover .cufon-canvas {
				text-decoration: none;
				border-bottom: 0;
}
.tree li ul li a:hover {
				color: #45addf;
				text-decoration: none;
				padding: 5px;
				border-bottom: none;
}
.tree li a#active {
				color: #45addf;
				text-decoration: none;
				padding: 5px;
				display: inline-block;
}
.tree li a#active .cufon-canvas {
				border: 0;
}
.tree li#active ul li a {
				color: #05b;
				text-decoration: underline;
				font-size: 13px;
}
.tree ul {
				margin-top: 0;
				margin-left: 0;
}
.tree li span a {
				display: none;
				right: 0;
				border: none;
				position: relative;
				width: 28px;
				height: 18px;
				margin: 0 0 -5px -5px;
				background: url("/images/arrow.png") 10px top no-repeat;
}
.tree li.act span a {
				display: inline-block;
				width: 28px;
				height: 18px;
				text-decoration: none;
				border-bottom: none;
}
.tree li.act span a:hover {
				text-decoration: none;
				border-bottom: none;
}
.tree li span {
				display: none;
				border: none;
				position: relative;
				width: 18px;
				height: 21px;
}
.tree li.act span {
				display: inline-block;
}
/*index*/
.bigtext {
				font-size: 44px;
				text-align: left;
				line-height: 44px;
				color: #283a53;
}
.author {
				font-size: 22px;
				text-align: right;
				margin-right: 10px;
				color: #374e6d;
				display: block;
}
.basic_text {
				font-size: 18px;
				text-align: left;
				color: #4b6990;
				display: block;
				margin: 15px 0 0;
}
.sl_border {
				margin: -80px 0 0 45px;
}


#da-slider {
				width: 100%;
				min-width: 520px;
				height: 350px;
				position: relative;
				overflow: hidden;
}
#da-slider div {
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				text-align: left;
}
div#da-slider div .da-link {
				position: relative;
				padding: 2px 20px 0;
				text-align: center;
				background: url("/images/more-button.png") top left no-repeat;
				width: 122px;
				height: 24px;
				display: block;
				top: -50px;
				left: 70px;
}
div#da-slider div .da-link:hover {
				background: url("/images/more-button.png") bottom left no-repeat;
}
.bx-prev {
				position: relative;
				top: -220px;
				left: 5px;
				width: 26px;
				height: 48px;
				z-index: 1000;
}
.bx-next {
				position: relative;
				top: -220px;
				right: -956px;
				width: 26px;
				height: 48px;
				z-index: 1000;
}
/*new blocks*/
.onecolumn {
				margin: 40px;
}
.onecolumn p {
				color: #2e3d4c;
				font-size: 15px;
				line-height: 20px;
}
.onecolumn a {
				font-size: 14px;
				line-height: 26px;
				color: #0675db;
}
.left {
				float: left;
				width: 226px;
				margin: 0 20px 40px 30px;
				min-height: 480px;
}
.right {
				float: right;
				width: 645px;
				padding-left: 30px;
				margin: 0 40px 40px 0;
				min-height: 480px;
				/*border-left:1px solid #c3ced7;*/
}
.divider {
				width: 1px;
				height: 100%;
				border-left: 1px solid #c3ced7;
				float: left;
				margin-left: 15px;
				margin-top: 40px;
}
.right h1 {
				margin: 0 0 40px;
}
.right p {
				color: #2e3d4c;
				line-height: 20px;
}
.right span {
				display: block;
				height: 1px;
				margin: 1px 0;
}
.right span.b-share,
.right span.b-share-icon {
				display: block;
				height: 16px;
				margin: 1px 0;
}
.left .left-menu {
				margin: 0;
}
.left .left-menu li {
				display: inline;
				margin-left: -15px;
}
.left .left-menu li a {
				display: inline-block;
				line-height: 24px;
				font-size: 17px;
				color: #2e3d4c;
				border-bottom: 1px solid #2e3d4c;
				text-decoration: none;
}
/*.left .left-menu li a .cufon-canvas {text-decoration: underline; border-bottom:1px solid #0675db;}*/
.left .left-menu li a:hover {
				color: #45addf;
				border-bottom: 1px solid #45addf;
}
.left .left-menu li a.active {
				color: #45addf;
				border-bottom: none;
}
.left .left-menu li ul {
				margin: 10px 0 0;
}
.left .left-menu li ul li {
				display: block;
				margin: 0;
				border-top: 1px solid #c4ced7;
				padding: 7px 0;
}
.left .left-menu li ul li a {
				border-bottom: none;
				text-decoration: underline;
				color: #05b;
				font-size: 13px;
				line-height: 17px;
				display: inline-block;
				padding: 5px;
				font-weight: normal;
				font-family: Arial;
				margin-left: -5px;
}
/*.left .left-menu li ul li a .cufon-canvas {text-decoration: underline; border-bottom:1px solid #0675db;}*/
.left .left-menu li ul li a:hover {
				color: #45addf;
				text-decoration: none;
				padding: 5px;
				border-bottom: none;
}
.left .left-menu li ul li a.curr {
				color: #45addf;
				text-decoration: none;
				padding: 5px;
				display: inline-block;
}
.left .left-menu li ul li a.curr .cufon-canvas {
				border: 0;
}
/*Новости*/
.left .fltr {
				list-style: none;
				margin-top: 0;
				margin-left: 10px;
}
.left .fltr li {
				list-style: none;
				display: inline-block;
				margin: 0;
				padding: 1px 0 1px 15px;
				line-height: 20px;
}
.left .fltr li a {
				font-size: 18px;
				line-height: 20px;
				text-decoration: underline;
				border-bottom: none;
				color: #2e3d4c;
				display: inline-block;
				padding: 5px;
				font-weight: normal;
				margin-left: -15px;
}
.left .fltr li a .cufon-canvas {
				text-decoration: underline;
				border-bottom: 1px solid #2e3d4c;
}
.left .fltr li a:hover {
				color: #45addf;
				text-decoration: none;
				padding: 5px;
				border-bottom: none;
}
.left .fltr li a:hover .cufon-canvas {
				border: none;
}
.left .fltr li a.current {
				color: #45addf;
				text-decoration: none;
				padding: 5px;
				border-bottom: none;
}
.left .fltr li a.current .cufon-canvas {
				border: none;
}
.rp {
				padding-right: 40px;
}
#news {
				margin-top: -20px;
				width: 750px;
				margin-left: -30px;
				padding-left: 55px;
				border-left: 1px solid #c3ced7;
}
#news-full {
				width: 750px;
				margin-left: -30px;
				padding-left: 55px;
				border-left: 1px solid #c3ced7;
}
.news-date {
				font-size: 12px;
				color: #77838f;
				line-height: 24px;
				margin-bottom: 0;
}
.news-title {
				margin-bottom: 5px;
}
.news-title a,
.vacancies a {
				color: #3167c0;
				font-size: 18px;
				line-height: 24px;
}
.vacancies a b {
				font-weight: normal !important;
}
.right.vacancies p {
				margin-bottom: 20px;
}
.news-prevtext {
				color: #2e3d4c;
				line-height: 20px;
				margin-bottom: 20px;
}
.news-prevtext a {
				color: #3167c0;
}
.main-actions-title {
				margin-bottom: 5px;
}
.main-actions a {
				color: #fff;
				font-size: 18px;
				line-height: 24px;
}
.actions-main-preview-text {
				color: #7fc2f8;
				font-size: 15px;
				line-height: 20px;
				margin-bottom: 20px;
}
.actions-mainpreview-text a {
				color: #7fc2f8;
}
.news-title1 {
				color: #3167c0;
				font-size: 26px;
				line-height: 30px;
				margin-bottom: 10px;
}
.news-text {
				color: #2e3d4c;
				line-height: 20px;
}
.news-text a {
				color: #3167c0;
}
.news-text ul {
				margin-top: 0;
				margin-bottom: 10px;
				margin-left: 25px;
}
.news-text ul li {
				color: #2e3d4c;
				line-height: 22px;
				padding: 0;
}
.newsimg {
				float: left;
				width: 140px;
				margin: auto 10px auto 0;
}
.newsimg img {
				width: 140px;
				display: block;
				vertical-align: middle;
				margin: auto 0;
}
#news-back-button {
}
#news-back-button:hover {

}
#v-back-button {
				background: url("/images/back-vacancy.png") left top no-repeat;
				display: block;
				width: 204px;
				height: 26px;
				margin: 20px 0 0;
}
#v-back-button:hover {
				background: url("/images/back-vacancy.png") left bottom no-repeat;
}
#pp_full_res img {
				margin-top: 0;
}
.pp_nav {
				margin-top: 15px;
}
#actions-back-button {
				background: url("/images/back-actions.png") left top no-repeat;
				display: block;
				width: 195px;
				height: 26px;
				margin: 20px 0 0;
}
#actions-back-button:hover {
				background: url("/images/back-actions.png") left bottom no-repeat;
}
#pages {
				margin: -40px 0 40px;
				padding: 0;
}
#pages li {
				float: left;
				margin-right: 8px;
				padding: 0;
}
#pages li a {
				display: block;
				padding: 0 10px;
				font-size: 18px;
				color: #3167c0;
				text-decoration: underline;
				line-height: 30px;
				font-weight: normal;
				height: 30px;
}
#pages li a:hover {
				display: block;
				padding: 0 10px;
				font-size: 18px;
				color: #fff;
				background-color: #3167c0;
				text-decoration: none;
				border-radius: 3px;
				font-weight: normal;
				behavior: url("/css/PIE.htc");
}
#pages li span {
				display: block;
				padding: 0 10px;
				font-size: 18px;
				color: #fff;
				background-color: #3167c0;
				border-radius: 3px;
				line-height: 30px;
				height: 30px;
				behavior: url("/css/PIE.htc");
}
/*learning*/
.right p {
				color: #2e3d4c;
				line-height: 20px;
				margin: 0 0 10px;
}
.right p img {
				width: 650px;
}
.right div img.ph {
				float: left;
				margin-right: 15px;
				display: block;
				width: 100px;
				height: 128px;
}
.right div a.p {
				color: #3b8cda;
				display: block;
				float: left;
				font-size: 18px;
}
.right div div.r {
				display: block;
				float: left;
				font-size: 17px;
				line-height: 19px;
				margin-top: 10px;
				width: 530px;
}
.right p span.rr {
				font-size: 18px;
				line-height: 24px;
}
.right p.bigtext {
				font-family: Helvetica;
				font-size: 18px;
				line-height: 24px;
				margin-top: -5px;
}
.right p.text_courses {
				margin: 0 0 5px;
}
.subsc_this {
				display: block;
				background: url("/images/sign-this-course-button.png") top left no-repeat;
				width: 200px;
				height: 26px;
}
.subsc_this:hover {
				background: url("/images/sign-this-course-button.png") bottom left no-repeat;
}
/*about*/
p.biggertext {
				font-size: 18px;
				line-height: 24px;
}
p.colortext {
				font-size: 18px;
				line-height: 24px;
				color: #0675db;
}
/*teachers*/
.inner-shadow {
				background: url("/images/inner-shadow.jpg") left top no-repeat;
				margin: 0 0 30px;
}
.filter2 ul,
.filter ul {
				margin: 0;
}
.filter2 ul li,
.filter ul li {
				display: block;
				padding: 0;
				margin: 0;
				padding: 1px 0 1px 15px;
				line-height: 20px;
}
.filter2 ul li a,
.filter ul li a {
				border-bottom: none;
				text-decoration: underline;
				color: #05b;
				font-size: 13px;
				line-height: 17px;
				display: inline-block;
				padding: 5px;
				font-weight: normal;
				font-family: Arial;
				margin-left: -20px;
}
.filter2 ul li a .cufon-canvas,
.filter ul li a .cufon-canvas {
				color: #0675db;
				border-bottom: 1px solid #0675db;
}
.filter2 ul li a:hover,
.filter ul li a:hover {
				color: #45addf;
				text-decoration: none;
				padding: 5px;
				border-bottom: none;
}
.filter2 ul li a:hover .cufon-canvas,
.filter ul li a:hover .cufon-canvas {
				border: none;
}
.filter2 ul li a.actv,
.filter ul li a.actv {
				color: #45addf;
				text-decoration: none;
				padding: 5px;
				border-bottom: none;
}
.filter2 ul li a.actv .cufon-canvas,
.filter ul li a.actv .cufon-canvas {
				border: none;
}
.teacher-content {
				float: left;
				width: 140px;
				margin: 0 20px 40px 0;
}
.teacher-foto {
				width: 137px;
				height: 163px;
				text-align: center;
				vertical-align: middle;
				border: 1px solid #9fa9b0;
				padding: 5px;
				display: table-cell;
}
.teacher-foto img {
				display: table-cell;
				/*width:100%;*/
				max-width: 127px;
				/*height:100%;*/
				max-height: 153px;
				margin: 0 auto;
				text-align: center;
				vertical-align: middle;
}
.teacher-name {
				width: 140px;
				margin: 10px auto 0;
}
.teacher-name a {
				color: #05b;
				width: 140px;
				font-size: 14px;
				text-align: center;
				display: block;
				line-height: 20px;
}
.teacher-name a:hover {
				color: #45addf;
				text-decoration: none;
}
.teacher-prevtext {
				color: #2e3d4c;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
}
.col1 {
				width: 140px;
}
.teach_header_inner {
				margin: -10px 0 25px;
				font-size: 22px;
				line-height: 25px;
}
.teach_photo_inner {
				float: left;
				margin-right: 20px;
				width: 250px;
}
#teachers ul li {
				color: #2e3d4c;
				line-height: 22px;
				list-style: square;
				list-style-position: inside;
}
/*Norm. documents*/
div.pdf:before {
				content: url("/images/icons/icon-pdf.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.xls:before {
				content: url("/images/icons/icon-xls.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.doc:before {
				content: url("/images/icons/icon-doc.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.docx:before {
				content: url("/images/icons/icon-docx.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.html:before {
				content: url("/images/icons/icon-html.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.ppt:before {
				content: url("/images/icons/icon-ppt.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.pptx:before {
				content: url("/images/icons/icon-pptx.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.rar:before {
				content: url("/images/icons/icon-rar.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.zip:before {
				content: url("/images/icons/icon-zip.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.xlsx:before {
				content: url("/images/icons/icon-xlsx.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.pdf {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 900px;
}
div.pdf a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 800px;
}
div.xls {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 900px;
}
div.xls a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 800px;
}
div.doc {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 900px;
}
div.doc a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 800px;
}
div.docx {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 900px;
}
div.docx a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 800px;
}
div.html {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 900px;
}
div.html a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 800px;
}
div.ppt {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 900px;
}
div.ppt a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 800px;
}
div.pptx {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 900px;
}
div.pptx a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 800px;
}
div.rar {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 900px;
}
div.rar a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 800px;
}
div.zip {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 900px;
}
div.zip a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 800px;
}
div.xlsx {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 900px;
}
div.xlsx a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 800px;
}
/*documents*/
div.pdf1:before {
				content: url("/images/icons/icon-pdf.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.xls1:before {
				content: url("/images/icons/icon-xls.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.doc1:before {
				content: url("/images/icons/icon-doc.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.docx1:before {
				content: url("/images/icons/icon-docx.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.html1:before {
				content: url("/images/icons/icon-html.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.ppt1:before {
				content: url("/images/icons/icon-ppt.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.pptx1:before {
				content: url("/images/icons/icon-pptx.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.rar1:before {
				content: url("/images/icons/icon-rar.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.zip1:before {
				content: url("/images/icons/icon-zip.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.xlsx1:before {
				content: url("/images/icons/icon-xlsx.png");
				float: left;
				height: 50px;
				margin: 3px 10px 20px 0;
				clear: both;
}
div.pdf1 {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 640px;
}
div.pdf1 a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 570px;
}
div.xls1 {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 640px;
}
div.xls1 a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 570px;
}
div.doc1 {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 640px;
}
div.doc1 a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 570px;
}
div.docx1 {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 640px;
}
div.docx1 a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 570px;
}
div.html1 {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 640px;
}
div.html1 a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 570px;
}
div.ppt1 {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 640px;
}
div.ppt1 a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 570px;
}
div.pptx1 {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 640px;
}
div.pptx1 a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 570px;
}
div.rar1 {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 640px;
}
div.rar1 a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 570px;
}
div.zip1 {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 640px;
}
div.zip1 a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 570px;
}
div.xlsx1 {
				float: left;
				margin: 3px 10px 10px 0;
				clear: both;
				width: 640px;
}
div.xlsx1 a {
				float: left;
				margin: 10px 10px 10px 0;
				display: block;
				font-size: 22px;
				line-height: 24px;
				color: #3167c0;
				width: 570px;
}
/*contacts*/
.left_contacts {
				float: left;
				width: 440px;
				margin-right: 20px;
}
.right_contacts {
				float: right;
				width: 440px;
				border-left: 1px solid #c3ced7;
				padding-left: 25px;
}
.left_contacts h2,
.right_contacts h2 {
				margin: -5px 0 10px;
				font-size: 18px;
				line-height: 24px;
				font-weight: normal;
}
.left_contacts p,
.right_contacts p {
				font-size: 15px;
				line-height: 20px;
}
.right_contacts span {
				color: #4082d6;
				font-style: italic;
}
.left_contacts h2.address {
				margin-top: 40px;
}
.left_contacts a {
				color: #4082d6;
				font-size: 15px;
				line-height: 20px;
}
.onecolumn .right_contacts a.sch {
				background: url("/images/scheme-button.png") left top no-repeat;
				display: block;
				width: 200px;
				height: 26px;
}
.onecolumn .right_contacts a.sch:hover {
				background: url("/images/scheme-button.png") left bottom no-repeat;
}
#map {
				clear: both;
				padding-top: 40px;
				width: 100%;
				height: 435px;
}
/*employment*/
.onecolumn p.pr_text {
				font-size: 18px;
				line-height: 24px;
}
.spisok_names {
				float: left;
}
.left_names {
				float: left;
				width: 45%;
}
.left_names ul {
				margin: 0;
				margin: 10px 0 10px 25px;
}
.left_names ul li {
				font-size: 15px;
				line-height: 20px;
				color: #2e3d4c;
				margin: 1px 0;
}
.right_names {
				float: right;
				width: 45%;
}
.right_names ul {
				margin: 0;
				margin: 10px 0;
}
.right_names ul li {
				font-size: 15px;
				line-height: 20px;
				color: #2e3d4c;
				margin: 1px 0;
}
.clrfix {
				clear: both;
				height: 1px;
}
.left_info {
				float: left;
				width: 45%;
				margin-top: 35px;
}
.onecolumn .left_info p {
				font-size: 18px;
				line-height: 24px;
}
.right_info {
				float: right;
				width: 45%;
				margin-top: 35px;
}
.onecolumn .right_info p {
				font-size: 18px;
				line-height: 24px;
}
.onecolumn .right_info a {
				font-size: 14px;
				line-height: 20px;
				color: #4082d6;
}
/*search*/
input.search-suggest {
				width: 600px;
				border-radius: 5px;
				height: 25px;
				padding-left: 10px;
				behavior: url("/css/PIE.htc");
}
input.searchit {
				height: 30px;
				width: 70px;
				text-align: center;
}
/*recalls*/
.rcl {
				width: 100%;
				height: 2px;
				border: none;
				border-bottom: 1px solid #c3ced7;
				margin-top: -20px;
}
.recall-button {
				position: relative;
				float: right;
				display: block;
				background: url("/images/place-your-recall-button.png") left top no-repeat;
				width: 200px;
				height: 26px;
				margin-top: -70px;
}
.recall-button:hover {
				background: url("/images/place-your-recall-button.png") left bottom no-repeat;
}
#add-recall h2 {
				margin: 30px 0;
				font-size: 26px;
				color: #2e3d4c;
}
#add-recall label {
				display: inline-block;
				width: 210px;
				font-size: 18px;
				color: #2e3d4c;
				vertical-align: top;
				padding-top: 3px;
}
#add-recall input[type='text'],
#feedback-form input[type='text'],
#feedback-form textarea {
				width: 700px;
				height: 25px;
				padding-left: 10px;
				border: none;
				border-top: 1px solid #c1c1c1;
				margin-bottom: 10px;
}
#add-recall input[type='text'] {
				width: 420px;
}
#feedback-form input[type='text'],
#feedback-form textarea {
				width: 687px;
				font-size: 15px;
				line-height: 20px;
				font-family: arial;
}
#feedback-form textarea {
				resize: none;
				height: 140px;
				font-size: 15px;
				line-height: 20px;
				font-family: arial;
}
.bb {
				margin-bottom: 10px;
}
#add-recall textarea {
				width: 418px;
				height: 100px;
				padding-left: 10px;
				border: none;
				border-top: 1px solid #c1c1c1;
				margin-bottom: 10px;
}
#add-recall label span {
				width: 20px;
				height: 20px;
				color: red;
				vertical-align: top;
				display: inline-block;
}
#add-recall label p.info {
				font-size: 12px;
				color: #2e3d4c;
				line-height: 14px;
				margin-top: 45px;
}
#add-recall a#reload {
				display: inline-block;
				background: url("/images/refresh.png") left top no-repeat;
				width: 20px;
				height: 29px;
				margin-left: 10px;
				position: relative;
				top: -5px;
				cursor: pointer;
}
#add-recall a#reload:hover {
				background: url("/images/refresh.png") left bottom no-repeat;
}
#feedback-form {
				min-height: 320px;
				height: auto !important;
}
.error {
				border: 1px solid red !important;
}
.capcha .parsley-error-list {
				float: none !important;
}
#add-recall input[type='submit'],
#feedback-form input[type='submit'] {
				background: url("/images/send-review-button.png") left center no-repeat;
				width: 175px;
				height: 26px;
				border: none;
				cursor: pointer;
				margin-top: 15px;
}
#add-recall input[type='submit'].passive {
				background: url("/images/send-review-button.png") left top no-repeat;
				width: 175px;
				height: 26px;
				border: none;
				cursor: pointer;
				margin-top: 15px;
}
#feedback-form input[type='submit'].passive {
				background: url("/images/send-message-button.png") left top no-repeat;
				width: 179px;
				height: 26px;
				border: none;
				cursor: pointer;
				margin-top: 15px;
}
#feedback-form input[type='submit']:hover {
				background: url("/images/send-message-button.png") left bottom no-repeat;
}
#add-recall input[type='submit']:hover {
				background: url("/images/send-review-button.png") left bottom no-repeat;
}
#add-recall input.passive {
				background: url("/images/send-review-button.png") left top no-repeat;
}
#add-recall input.passive:hover {
				background: url("/images/send-review-button.png") left top no-repeat;
}
#contactform label.error {
				margin-left: 215px;
				margin-top: -10px;
				font-size: 12px;
				color: red;
}
#recall-back-button {
				display: block;
				background: url("/images/back-to-review-list.png") left top no-repeat;
				width: 200px;
				height: 26px;
}
#recall-back-button:hover {
				background: url("/images/back-to-review-list.png") left bottom no-repeat;
}
.nocaptcha {
				display: none;
				font-size: 12px;
				color: red;
				margin: -10px 0 0 215px;
}
#errors p {
				color: red;
}
ul#countries {
				list-style-type: disc;
				list-style-position: outside;
				margin-top: 20px;
				margin-left: 15px;
}
ul#countries li {
				line-height: 20px;
				font-size: 14px;
				color: #2e3d4c;
				padding-left: 0;
				margin-bottom: 5px;
}
ul#countries li span {
				line-height: 30px;
				font-size: 17px;
				color: #05b;
				display: block;
				margin-bottom: 5px;
}
.lcap {
				font-size: 15px;
				line-height: 20px;
				margin: 0 0 18px;
				display: block;
				font-family: arial;
}
.cap-con {
				display: inline-block;
				float: left;
}
.nitem {
				margin: 10px 0 25px;
}
.ntitle {
				text-transform: uppercase;
}
.sect-link {
				display: block;
				font-size: 22px;
				line-height: 50px;
				color: #0675db;
				height: 41px;
				text-decoration: none;
				clear: both;
}
.sect-link span {
				display: inline-block;
				border-bottom: 1px dotted #0675db;
				height: 41px;
}
.hide {
				display: none;
				margin: 15px 0;
}
.trud {
				margin: 0;
}
.trud li {
				color: #2e3d4c;
				padding-left: 0;
				list-style: disc;
				line-height: 22px;
				margin-bottom: 5px;
}
.seo-text {
				margin: 40px 0;
}
.seo-text h1 {
				margin: 0 0 10px;
}
.seo-text ul {
				list-style-position: outside;
				list-style-type: disc;
				margin-bottom: 1em;
				margin-top: 1em;
				padding-left: 40px;
}