.tree								{margin: 0px; margin-left:-38px; margin-right:-20px;}
.tree li 							{margin: 0px; padding:0px; margin-bottom:10px; display:block; width:100%;}
.bullit								{width:29px; height:26px ; background: url(/images/current-bullit.png) 0px 0px no-repeat;}
.bullit:hover 						{width:29px; height:26px ; background: url(/images/current-bullit2.png) 0px 0px no-repeat;}
.tree li ul.sub_tree 				{margin: 0px; padding:0px; margin-left: 30px; }
.tree li ul.sub_tree li 			{margin: 0px; padding:0px; display:block; border-top: none; width:100%;}
.tree li ul.sub_tree li span 		{background:none; border-top:1px solid #c4ced7; display: block; margin-top: 7px; margin: 0px; padding:0px; height:auto; width:100%;}
.tree li ul.sub_tree li span a 		{background:none; padding-left:20px; margin: 0px; padding:0px; height:auto; width:100%;}
.tree li.act ul.sub_tree li span	{background:none; border-top:1px solid #c4ced7; display: block; margin-top: 7px; margin: 0px; padding:0px;}
.tree li.act ul.sub_tree li span a 	{background:none; padding-left:20px; margin: 0px; padding:0px;}
.tree li ul.sub_tree li ul 			{ list-style-type:disc; margin-left: -35px; padding-left: 36px; display:block; border-top: none; margin: 0px; padding:0px;  margin-bottom:25px;}
.tree li ul.sub_tree li ul li 		{ margin-left: -35px; padding-left: 70px; display:block; border-top: none; margin-bottom:0px; margin-top:0px;}
